<div style="text-align: center">
    {{# if error}}
        <h1>Sorry! Can't Let you In.</h1>
        <h3>Your IP seems Suspicious, Please contact admin and ask them to whitelist your IP.</h3>
        <h3>Your IP: {{ip}}</h3>
    {{else}}
        <h1>Congratulations! Your IP: {{ip}} Is whitelisted for 24 hours.</h1>
        <h3>Press This Button To Play {{ name }}</h3>
        <a class="btn btn-primary" href="fivem://connect/{{serverIP}}:{{fivemPort}}">Connect</a>
    {{/if}}

</div>